<md-toolbar class="md-whiteframe-z1">
	<div ng-controller="TopToolbar as vModel" class="md-toolbar-tools">
<!-- 		<md-button ng-click="vModel.toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-icon-button"> -->
		<md-button ng-click="vModel.toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-icon-button">
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>
		<h2>
			<span>{{ vModel.title }}</span>
<!-- 			<span ng-bind="toolbarTitle"></span> -->
		</h2>
		<span flex></span>
		{{ vModel.isauth }}
		<div ng-show="authenticated">
			<a href="logout">Logout</a>
		</div>
		
		<div ng-show="!authenticated">
			<a href="login">Login</a>
		</div>		
	</div>
</md-toolbar>